*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "OpenSansRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.navbar-brand {
	padding: 0;
}
.navbar-right {
	margin-top: 9px;
	font-size: 16px;
	color: #fff;
	font-family: "OpenSansBold", sans-serif;
	text-align: right;
	line-height: 1;
}
.navbar {
	position: relative;
	margin-bottom: 0;
	z-index: 10;
}
#myCarousel .item::before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	position: absolute;
	background-color: rgba(36,36,36,.7);
}
.slider-pic {
	background-position: center top;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	position: relative;
	z-index: 1;
}
.carousel-caption h1 {
	font-family: "OpenSansBold", sans-serif;
	line-height: 1;
}
.lead {
	font-family: "OpenSansBold", sans-serif;
 	margin-bottom: 15px;
 	display: block;
 	line-height: 1;
}
.page-slider {
	margin-bottom: 20px; 
}
.form-group {
	margin-bottom: 0;
}
.search-form .panel-heading{
	border-radius: 4px;
}
.panel-default > .panel-heading {
	padding: 8px;
}
.order-form .input-group {
	margin-bottom: 10px;
}
.order-form .input-group:last-child {
	margin-bottom: 0;
}
.btn-warning {
	font-size: 12px;
	font-family: "OpenSansBold", sans-serif;
	padding: 6px 5px;
	float: right;
}
.order-form h4 {
	font-size: 14px;
	font-family: "OpenSansBold", sans-serif;
	display: inline-block;
	float: left;
	line-height: 11px;
}
.panel-body {
	padding: 8px;
}
.services-menu .panel-body {
	padding: 0;
}
.services-menu .panel-title {
	position: relative;
}
.services-menu .dropdown-toggle {
    background-color: transparent;
    border: none;
    border-left: #E3810B 1px solid;
    border-radius: 0;
    padding: 8px 9px;
    position: absolute;
    right: -9px;
    top: -9px;
    margin: 0px;
}
.services-menu h4 {
	font-family: "OpenSansBold", sans-serif;
}
.list-group-item,
.list-group-item.active {
	font-family: "OpenSansBold", sans-serif;
	border: none;
	border-bottom: 1px solid #cccccc;
	color: #242424;
	margin: 0px 0px;
	padding: 10px 10px;
}
.list-group-item:hover,
.list-group-item:focus,
.list-group-item.active:focus, 
.list-group-item.active:hover {
	font-family: "OpenSansBold", sans-serif;
	background-color: #f5f5f5;
	border: none;
	border-bottom: 1px solid #cccccc;
	color: #242424;
	margin: 0px 0px;
	padding: 10px 10px;
}
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;

}
.list-group-item:last-child {
	border-bottom: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border: none;
}
.panel-collapse .panel-body {
	border: none;
}
 
.collapse.in {
	margin:1px 0px 0px 0px;
}
.carousel-caption .top-title {
    text-transform: none;
    font-size: 36px;
    margin: 0 0 5px 0;
    font-family: "OpenSansBold", sans-serif;
    line-height: 1;
}
.news-slider {

}
.news-slider .item,
.news-slider .active {
	background-color: #fff;
	min-height: initial;
}
 
.news-slider .carousel-indicators {
	position: relative;
	 
	 margin-top: 20px;
	top: 0px;
}
.news-slider .carousel-indicators li {
	background-color: #fff;
	border: 1px solid #ccc;
	 
}
.news-slider li.active {
	background-color: #f27937;
	border: none;
}
.news-controls {
	position: relative;
}
.news-slider .carousel-control {
	color: #444;
}
.news-slider .carousel-control.left, 
.news-slider .carousel-control.right {
	background-color: transparent;
}
.news-slider .carousel-control .glyphicon-chevron-left, 
.news-slider .carousel-control .glyphicon-chevron-right, 
.news-slider .carousel-control .icon-prev, 
.news-slider .carousel-control .icon-next {
	top: 20px;
	font-size: 11px;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
.news-slider .lead {
	font-family: "OpenSansRegular", sans-serif;
	font-size: 20px;
}
.news-slider p {
	font-size: 13px;
}
.news-slider a {
	font-size: 13px;
	text-decoration: underline;
}
.news-slider a:hover {
	text-decoration: none;
}
.news-slider .item a:after {
	content: "\00A0 \003E";
}
.news h4 {
    font-family: "OpenSansBold", sans-serif;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 0;
}
.news .panel-body {
	padding: 20px 20px 5px 20px;
}
.well p {
	font-size: 13px;
}
.well h4 {
	margin-top: 0;
}
.well p:last-child {
	margin-bottom: 0;
}
 
h1 {
	font-family: "OpenSansRegular", sans-serif;
	padding-bottom: 15px;
	margin-top: 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ececec;
}
.content {
	margin-bottom: 10px;
}
.re-item {
	position: relative;
	margin-bottom: 30px;
}
.re-item__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background-color: rgba(214,98,26,.55);*/
	background-color: rgba(221,150,36,.55);
	transition: all .5s ease;
}
.re-item__text {
	font-family: "OpenSansBold", sans-serif;
    line-height: 1.4;
    color: #fff;
    text-transform: uppercase;
	transform: translateY(-50%);
	position: absolute; 
	top: 50%; 
	left: 5%;
	right: 5%;
    text-align: center;
    display: block;
}
.re-item__overlay:hover {
	/*background-color: rgba(221,150,36,.55);*/
	background-color: rgba(214,98,26,.55);
}
.re-item__pic {
	width: 100%;
}
.advantages {
	margin-bottom: 50px;
}
.adv-item {
	text-align: center;
	padding: 10px 0px 0px 0px;
	font-family: "OpenSansBold", sans-serif;
	position: relative;
	 
}
.adv-item__gradient {
	padding: 0px 0px 30px 0px;
	background: linear-gradient(to bottom, #fff, #f8f8f8);
}
.adv-item__pic {
	margin-bottom: 10px;
	min-height: 74px;
}
.adv-item__title {
    line-height: 1;
    font-size: 26px;
    color: #989898;
}
.adv-item__title span {
	color: #000;
}
.adv-item__title span sup {
	font-size: 15px;
}
.adv-item__text {
	line-height: 1;
    font-size: 14px;
    color: #000;
}
.adv-item::after {
	content: "";
	width: 1px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
}
.adv-item:last-child::after {
	display: none;
}
.page-text {
	margin-bottom: 30px;
}
.map-pic {
	width: 100%;
}
.page-text .lead {
	font-family: "OpenSansRegular", sans-serif;
	font-size: 20px;
	line-height: 1.2;
}
.page-text .lead a {
	text-decoration: underline;
}
.page-text .lead a:hover {
	text-decoration: none;
}
.page-text p {
	font-size: 13px;
}
.page-text ul {
	font-size: 13px;
	list-style-type: circle;
}
.building-news h4 {
	margin-bottom: 15px;
}
.building-news__list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.building-news__item .panel-body{
	padding: 20px;
}
.building-news__link {
	text-decoration: underline;
}
.building-news__link:hover {
	text-decoration: none;
}
.building-news__link::after {
	content: "\00A0 \003E";
}
footer {
	background-color: #242424;
	padding: 30px 0;
	color: #fff;
	font-family: "OpenSansBold", sans-serif;
}
.navbar-brand .logo {
	padding: 7px 20px;
}
.logo {
	text-transform: uppercase;
	padding: 0px;
}
.navbar-brand .logo-big,
.logo-big {
	font-size: 22px;
	color: #fff;
	font-family: "OpenSansBold", sans-serif;
	line-height: 1;
}
.navbar-brand .logo-small, 
.logo-small {
	font-size: 11px;
	color: #f37e38;
	font-family: "OpenSansBold", sans-serif;
	line-height: 1;
}
.f-slogan {
	font-size: 13px;
	line-height: 1.1;
	position: relative;
	padding-left: 15px;
}
.f-slogan::before {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;

}
.f-tel {
	font-size: 20px;
	line-height: 1;
}
.f-callback-link {
	display: block;
	line-height: 1.5;
	font-size: 12px;
	text-decoration: underline;
}
.f-callback-link:hover {
	text-decoration: none;
}
.developer {
	color: #4f4f4f;
	line-height: 1;
	font-size: 13px;
	text-transform: uppercase;
	text-align: right;
}
.page-main {
	margin-bottom: 20px;
}
.modal-footer {
	 border-color: transparent;
}
.modal-footer button {
	display: block;
	margin: 0 auto;
	float: none;
}
.modal-dialog {
	max-width: 300px;
	margin: 30px auto;
}
.message {
	padding: 10px;
    color: green;
    text-align: center;
    font-weight: bold;
    font-family: "OpenSansBold", sans-serif;
	line-height: 1;
	text-transform: uppercase;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	margin: 10px 0;
}
