/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media screen and (max-width : 1199px) {

}

/* Medium Devices, Desktops */
@media screen and (max-width : 991px) {

}

/* Small Devices, Tablets */
@media screen and (max-width : 767px) {
	.p-item__text {
    height: 50px;
	}
}
@media screen and (max-width : 600px) {
	.p-item__text {
    height: 92px;
	}
}
/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
	div[class*="col-xs"] {
    	width: 100%;
    }
    .p-item__pic {
   	width: 70%;
   	margin: 0 auto 1em auto;
    }
    .p-item__text {
    height: 50px;
	}
}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {

}
